{{/*Try to pull old (legacy) secret */}}

{{- if .observed.composite.resource.spec.oldPasswordSecretPath }}
{{- $ns := index .observed.composite.resource.metadata.labels "crossplane.io/claim-namespace" }}
---
apiVersion: kubernetes.crossplane.io/v1alpha2
kind: Object
metadata:
  name: {{ (.observed.composite.resource.metadata.name) }}-old-secret
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: oldsecretobject
spec:
  connectionDetails:
    - apiVersion: v1
      fieldPath: data.password
      kind: Secret
      name: rds-operator-{{ (.observed.composite.resource.metadata.name) }}-old-secret
      namespace: {{ $ns }}
      toConnectionSecretKey: externalpasswordold
  forProvider:
    manifest:
      apiVersion: external-secrets.io/v1beta1
      kind: ExternalSecret
      metadata:
        namespace: {{ $ns }}
        name: rds-operator-{{ (.observed.composite.resource.metadata.name) }}-old-secret
      spec:
        data:
          - remoteRef:
              key: {{ .observed.composite.resource.spec.oldPasswordSecretPath }}
            secretKey: password
        #refreshInterval: 1m
        secretStoreRef:
          kind: SecretStore
          name: secretstore-{{ $ns }}
        target:
          creationPolicy: Owner
  writeConnectionSecretToRef:
    name: rds-operator-{{ (.observed.composite.resource.metadata.name) }}-old-secret-connection
    namespace: crossplane-system
{{- end }}