apiVersion: secretsmanager.aws.upbound.io/v1beta1
kind: Secret
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secret
    crossplane.io/external-name: {{ $.observed.composite.resource.spec.secretPath }}
  name: {{ $.observed.composite.resource.metadata.name }}-secret
spec:
  managementPolicies:
    - Observe
    - Create
  forProvider:
    name: {{ $.observed.composite.resource.spec.secretPath }}
    region: eu-west-1
    {{- if eq ($.observed.resources.secretversion | getResourceCondition "Ready").Status "True" }}
    tags:
      current-version: {{ ($.observed.resources.secretversion.resource.status.atProvider.versionId)  }}
    {{- end }}