{{- if hasKey $.observed.composite.connectionDetails "connection" }}
---
apiVersion: secretsmanager.aws.upbound.io/v1beta1
kind: SecretVersion
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secretversion
  name: {{ $.observed.composite.resource.metadata.name }}-secret-version
spec:
  managementPolicies:
    - Observe
    - Create
    - Update
  forProvider:
    region: eu-west-1
    secretIdSelector:
      matchControllerRef: true
    secretStringSecretRef:
      key: connection
      name: {{ $.observed.composite.resource.metadata.uid }}
      namespace: crossplane-system
    versionStages:
      - AWSCURRENT
  writeConnectionSecretToRef:
    name: {{ $.observed.composite.resource.metadata.name }}-secret-version
    namespace: crossplane-system

{{- end }}