apiVersion: kubernetes.crossplane.io/v1alpha2
kind: Object
metadata:
  name: rds-{{ .observed.composite.resource.spec.databaseName }}-secret
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: externalsecret
spec:
  connectionDetails:
    - apiVersion: v1
      fieldPath: data.password
      kind: Secret
      name: rds-{{ $.observed.composite.resource.spec.databaseName }}-external-secret
      namespace: crossplane-system
      toConnectionSecretKey: externalpassword
  forProvider:
    manifest:
      apiVersion: external-secrets.io/v1beta1
      kind: ExternalSecret
      metadata:
        namespace: crossplane-system
        name: rds-{{ $.observed.composite.resource.spec.databaseName }}-external-secret
      spec:
        data:
          - remoteRef:
              key: {{ .observed.composite.resource.spec.secretsManager.pathName }}
              property: password
            secretKey: password
        #refreshInterval: 1m
        secretStoreRef:
          kind: ClusterSecretStore
          name: rwil-clustersecretstore
        target:
          creationPolicy: Owner
  writeConnectionSecretToRef:
    name: rds-{{ .observed.composite.resource.spec.databaseName }}-external-secret-connection
    namespace: crossplane-system