########################################################################
# Only create new password if external secret does not exist           #
# Check if the last status condition has the reason SecretSyncedError  #
########################################################################

apiVersion: secretsmanager.aws.upbound.io/v1beta1
kind: Secret
metadata:
  name: secretsmanager-secret-{{ .observed.composite.resource.spec.databaseName }}
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secret
    crossplane.io/external-name: {{ .observed.composite.resource.spec.secretsManager.pathName }}
  labels:
    infra.rwil.volkswagenag.com/rds-secret-name: secretsmanager-secret-{{ .observed.composite.resource.spec.databaseName }}
spec:
  deletionPolicy: Delete
  managementPolicies:
    - Observe
    - Create
    - LateInitialize
  forProvider:
    name: {{ .observed.composite.resource.spec.secretsManager.pathName }}
    region: eu-west-1