{{- if hasKey $.observed.composite.connectionDetails "connection" }}
apiVersion: secretsmanager.aws.upbound.io/v1beta1
kind: SecretVersion
metadata:
  name: secretsmanager-secret-version-{{ .observed.composite.resource.spec.databaseName }}
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secretversion
spec:
  deletionPolicy: Delete
  managementPolicies:
    - Observe
    - Update
    - Create
    - LateInitialize
  forProvider:
    region: eu-west-1
    secretIdSelector:
      matchControllerRef: true
    secretStringSecretRef:
      key: connection
      name: {{ $.observed.composite.resource.metadata.uid }}
      namespace: crossplane-system
{{- end }}